/**
 * LoRaWAN Credentials
 *
 * IMPORTANT: Do not commit this file to version control!
 * Add credentials.h to your .gitignore
 *
 * Copy this file to credentials.h and fill in your own keys.
 */

#ifndef _CREDENTIALS_H_
#define _CREDENTIALS_H_

/* OTAA parameters */
// Get these from your LoRaWAN network server (TTN, Chirpstack, etc.)
static uint8_t devEui[] = { 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00 };
static uint8_t appEui[] = { 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00 };
static uint8_t appKey[] = { 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00,
                            0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00 };


/* ABP parameters (if using ABP instead of OTAA) */
static uint8_t nwkSKey[] = { 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00,
                             0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00 };
static uint8_t appSKey[] = { 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00,
                             0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00 };
static uint32_t devAddr = (uint32_t)0x00000000;

#endif
